---
eleventyExcludeFromCollections: true
layout: layouts/home.njk
---
{%- css %}{% include "public/css/pages/docs-banner.css" %}{% endcss %}
{% block main %}
  <section class="docs-banner">
    <div class="docs-banner-left">
      <div class=""></div>
    </div>
    <div class="docs-banner-center">
      <div class="content-index">
        <ul>
          <li class="active">
            <a href="nextjs-doc-introduction">시작하기</a>
            <ul>
              <li>
                <a>설치</a>
              </li>
              <li class="active">
                <a href="nextjs-doc-project-structure">프로젝트 구조</a>
              </li>
            </ul>
          </li>
          <li class="active">
            <a href="nextjs-doc-build-your-application">애플리케이션 빌드하기</a>
            <ul>
              <li class="active">
                <a href="nextjs-doc-routing-fundamentals">라우팅</a>
                <ul>
                  <li class="active">
                    <a href="nextjs-doc-defining-routes">라우트 정의하기</a>
                  </li>
                  <li class="active">
                    <a href="nextjs-doc-pages-and-layouts">페이지와 레이아웃</a>
                  </li>
                  <li class="active">
                    <a href="nextjs-doc-linking-and-navigating">링크 & 네비게이션</a>
                  </li>
                  <li class="active">
                    <a href="nextjs-doc-loading-ui-and-streaming">로딩 UI & 스트리밍</a>
                  </li>
                  <li>
                    <a>에러 핸들링</a>
                  </li>
                  <li>
                    <a>리다이렉팅</a>
                  </li>
                  <li>
                    <a>라우트 그룹</a>
                  </li>
                  <li>
                    <a>프로젝트 조직</a>
                  </li>
                  <li>
                    <a>동적 라우트</a>
                  </li>
                  <li>
                    <a>병렬 라우트</a>
                  </li>
                  <li>
                    <a>라우트 인터셉트</a>
                  </li>
                  <li>
                    <a>라우트 핸들러</a>
                  </li>
                  <li>
                    <a>미들웨어</a>
                  </li>
                  <li>
                    <a>다국어</a>
                  </li>
                </ul>
              </li>
              <li>
                <a>데이터 페칭</a>
                <ul>
                  <li class="active">
                    <a href="nextjs-doc-fetching-caching-and-revalidating">데이터 페칭, 캐싱, 평가</a>
                  </li>
                </ul>
              </li>
              <li>
                <a>렌더링</a>
              </li>
              <li>
                <a>캐싱</a>
              </li>
              <li>
                <a>스타일링</a>
              </li>
              <li>
                <a>라우팅</a>
              </li>
              <li>
                <a>최적화</a>
              </li>
              <li>
                <a>설정</a>
              </li>
              <li>
                <a>테스팅</a>
              </li>
              <li>
                <a>인증</a>
              </li>
              <li>
                <a>배포</a>
              </li>
              <li>
                <a>업그레이드</a>
              </li>
            </ul>
          </li>
          <li>
            <a>API 레퍼런스</a>
          </li>
          <li>
            <a>아키텍처</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="docs-banner-right"></div>
  </section>
{% endblock %}