{%- css %}{% include "public/css/pages/home.css" %}{% endcss %}
{% extends "layouts/_base.njk" %}

{% block head %}
{% endblock %}

{% block main %}
{{ content | safe }}
{% endblock %}

{% block foot %}
{% endblock %}