{%- css %}{% include "public/css/markdown.css" %}{% endcss %}
{%- css %}{% include "public/css/pages/post.css" %}{% endcss %}
{% extends "layouts/_base.njk" %}

{% block head %}
<link href="/css/prism-vsc-dark-plus.css" rel="stylesheet">
{% endblock %}

{% block main %}
{# LEFT #}
<section class="post-left">
{% if tags | isEmpty %}
  <div class="info-box">
    <div class="title-with-icon">
      <img class="svg-icon" src="/img/icons/tag.svg" />
      <div>태그</div>
    </div>
    <ul class="post-tag-list">
      {%- for tag in tags | filterTagList %}
      {# {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
      <li><a href="{{ tagUrl }}" class="post-tag-item">{{ tag }}</a>{%- if not loop.last %}, {% endif %}</li> #}
      <li>
        <div class="post-tag-item">{{ tag }}</div>
      </li>
      {%- endfor %}
    </ul>
  </div>
{% endif %}
  <div class="info-box content-index">
    <div class="title-with-icon">
      <img class="svg-icon" src="/img/icons/list.svg" />
      <div>목차</div>
    </div>
  </div>
</section>

{# CENTER #}
<section class="post post-page-box">
  <h1 class="_title">{{ title }}</h1>
  {% if description %}
  <blockquote>{{ description }}</blockquote>
  {% endif %}
  <div class="_date">
    <p>생성일: {{ date | htmlDateString }}</p>
    {% if modified %}
    <p>수정일: {{ modified | htmlDateString }}</p>
    {% else %}
    <p>수정일: {{ date | htmlDateString }}</p>
    {% endif %}
  </div>
  {{ content | safe }}
</section>

{# RIGHT #}
<section class="post-right">
  {# 레퍼런스 블록 #}
  {% if references %}
  <div class="info-box content-index">
    <div class="title-with-icon">
      <img class="svg-icon" src="/img/icons/pin.svg" />
      <div>참조</div>
    </div>
    <ul>
      {%- for reference in references %}
      <li>
        <a href="{{ reference.value }}">{{ reference.key }}</a>{%- if not loop.last %} {% endif %}
      </li>
      {%- endfor %}
    </ul>
  </div>
  {% endif %}

  {# 이전글, 다음글 블록 #}
  {% if collections.posts %}
    {% set previousPost = collections.posts | getPreviousCollectionItem %}
    {% set nextPost = collections.posts | getNextCollectionItem %}
    {% if previousPost or nextPost %}
      <div class="info-box related-post">
      {% if previousPost %}
      <div class="related-post-item _previous">
        <p>이전글</p>
        <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>
      </div>
      {% endif %}
      {% if nextPost %}
      <div class="related-post-item _next">
        <p>다음글</p>
        <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
      </div>
      {% endif %}
      </div>
    {% endif %}
  {% endif %}

  <div class="comments">
    <script
      src="https://utteranc.es/client.js"      
      repo="vigor-13/blog"
      issue-term="pathname"
      label="comment"
      theme="dark-blue"
      crossorigin="anonymous"
      async>
    </script>
  </div>
</section>
{% endblock %}

{% block foot %}
<script src="/js/indexing.js"></script>
<script src="/js/tab.js"></script>
{% endblock %}