{%- css %}{% include "public/css/markdown.css" %}{% endcss %}
{%- css %}{% include "public/css/pages/post.css" %}{% endcss %}
{% extends "layouts/_base.njk" %}

{% block head %}
<link href="/css/prism-vsc-dark-plus.css" rel="stylesheet">
{% endblock %}

{% block main %}
{# LEFT #}
<section class="post-left">
  <div class="info-box">
    <div>태그</div>
    <ul class="post-tag-list">
      {%- for tag in tags | filterTagList %}
      {# {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
      <li><a href="{{ tagUrl }}" class="post-tag-item">{{ tag }}</a>{%- if not loop.last %}, {% endif %}</li> #}
      <li>
        <div class="tag">{{ tag }}</div>
      </li>
      {%- endfor %}
    </ul>
  </div>
</section>
{# CENTER #}
<section class="post post-page-box">
  <h1 class="_title">{{ title }}</h1>
  {% if description %}
  <blockquote>{{ description }}</blockquote>
  {% endif %}
  <div class="_date">{{ page.date | htmlDateString }}</div>
  {{ content | safe }}
</section>
{# RIGHT #}
<section class="post-right">
  {% set previousPost = collections.post | getPreviousCollectionItem %}
  {% set nextPost = collections.post | getNextCollectionItem %}
  {% if previousPost or nextPost %}
    <div class="info-box related-post">      
    {% if previousPost %}
    <div class="related-post-item _previous">
      <p>이전글</p>
      <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>
    </div>
    {% endif %}
    {% if nextPost %}
    <div class="related-post-item _next">
      <p>다음글</p>
      <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
    </div>
    {% endif %}
    </div>
  {% endif %}
</section>
{% endblock %}

{% block foot %}
<script src="/js/indexing.js"></script>
{% endblock %}