---
eleventyExcludeFromCollections: true
layout: layouts/home.njk
---
{%- css %}{% include "public/css/pages/docs-banner.css" %}{% endcss %}
{% block main %}
  <section class="docs-banner">
    <div class="docs-banner-left">
      <div class=""></div>
    </div>
    <div class="docs-banner-center">
      <div class="content-index">
        <ul>
          <li>
            <a>가이드</a>
            <ul>
              <li class="active">
                <a href="docker-doc-guides-overview">개요</a>
              </li>
              <li>
                <a>시작하기</a>
              </li>
            </ul>
          </li>
          <li>
            <a>매뉴얼</a>
          </li>
          <li>
            <a>레퍼런스</a>
          </li>
          <li>
            <a>샘플</a>
          </li>
          <li>
            <a>FAQ</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="docs-banner-right"></div>
  </section>
{% endblock %}