---
eleventyExcludeFromCollections: true
layout: layouts/home.njk
---
{%- css %}{% include "public/css/pages/docs-banner.css" %}{% endcss %}
{% block main %}
  <section class="docs-banner">
    <div class="docs-banner-left">
      <div class=""></div>
    </div>
    <div class="docs-banner-center">
      <div class="content-index">
        <ul>
          <li>
            <a>가이드</a>
            <ul>
              <li class="active">
                <a href="docker-doc-guides-overview">개요</a>
              </li>
              <li>
                <a>시작하기</a>
                <ul>
                  <li>
                    <a>빠른 실습 가이드</a>
                    <ul>
                      <li class="active">
                        <a href="docker-doc-guides-quick-hands-on-what-is-a-container">컨테이너란?</a>
                      </li>
                      <li class="active">
                        <a href="docker-doc-guides-quick-hands-on-how-do-i-run-a-container">컨테이너 실행하기</a>
                      </li>
                      <li class="active">
                        <a href="docker-doc-guides-quick-hands-on-run-docker-hub-images">Docker Hub 이미지 실행하기</a>
                      </li>
                      <li class="active">
                        <a href="docker-doc-guides-quick-hands-on-run-multi-container-applications">다중 컨테이너 실행하기</a>
                      </li>
                      <li class="active">
                        <a href="docker-doc-guides-quick-hands-on-persist-container-data">지속 컨테이너 데이터</a>
                      </li>
                      <li class="active">
                        <a href="docker-doc-guides-quick-hands-on-access-a-local-folder-from-a-container">컨테이너에서 로컬 폴더에 접근하기</a>
                      </li>
                      <li class="active">
                        <a href="docker-doc-guides-quick-hands-on-containerize-your-application">애플리케이션 컨테이너화하기</a>
                      </li>
                      <li class="active">
                        <a href="docker-doc-guides-quick-hands-on-publish-your-image">이미지 배포하기</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a>시작 가이드</a>
                    <ul>
                      <li>
                        <a>파트1: 개요</a>
                      </li>
                      <li>
                        <a>파트2: 애플리케이션 컨테이너화하기</a>
                      </li>
                      <li>
                        <a>파트3: 애플리케이션 업데이트하기</a>
                      </li>
                      <li>
                        <a>파트4: 애플리케이션 공유하기</a>
                      </li>
                      <li>
                        <a>파트5: DB 유지하기</a>
                      </li>
                      <li>
                        <a>파트6: bind mount 사용하기</a>
                      </li>
                      <li>
                        <a>파트7: 다중 컨테이너 애플리케이션</a>
                      </li>
                      <li>
                        <a>파트8: Docker Compose 사용하기</a>
                      </li>
                      <li>
                        <a>파트9: 이미지 빌드하기</a>
                      </li>
                      <li>
                        <a>파트10: 다음은?</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a>언어별 가이드</a>
                    <ul>
                      <li>
                        <a>Node.js</a>
                        <ul>
                          <li class="active">
                            <a href="docker-doc-guides-nodejs-overview">개요</a>
                          </li>
                          <li class="active">
                            <a href="docker-doc-guides-nodejs-containerize-a-nodejs-application">애플리케이션 컨테이너화하기</a>
                          </li>
                          <li class="active">
                            <a href="docker-doc-guides-nodejs-use-containers-for-nodejs-development">애플리케이션 개발하기</a>
                          </li>
                          <li>
                            <a>테스트 실행하기</a>
                          </li>
                          <li>
                            <a>CI/CD 구성하기</a>
                          </li>
                          <li>
                            <a>개발 테스트하기</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <a>매뉴얼</a>
          </li>
          <li>
            <a>레퍼런스</a>
          </li>
          <li>
            <a>샘플</a>
          </li>
          <li>
            <a>FAQ</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="docs-banner-right"></div>
  </section>
{% endblock %}