---
eleventyExcludeFromCollections: true
layout: layouts/home.njk
---
{%- css %}{% include "public/css/pages/docs-banner.css" %}{% endcss %}
{% block main %}
  <section class="docs-banner">
    <div class="docs-banner-left">
      <div class=""></div>
    </div>
    <div class="docs-banner-center">
      <div class="content-index">
        <ul>
          <li>
            <a>시작하기</a>
            <ul>
              <li>
                <a>처음부터 시작하기</a>
                <ul>
                  <li>
                    <a>관계형 데이터베이스</a>
                    <ul>
                      <li class="active">
                        <a href="prisma-doc-start-from-scratch-relational-database-connect-your-database">데이터베이스 연결하기</a>
                      </li>
                      <li class="active">
                        <a href="prisma-doc-start-from-scratch-relational-database-using-prisma-migrate">Prisma 마이그레이션 사용하기</a>
                      </li>
                      <li class="active">
                        <a href="prisma-doc-start-from-scratch-relational-database-install-prisma-client">Prisma 클라이언트 설치하기</a>
                      </li>
                      <li class="active">
                        <a href="prisma-doc-start-from-scratch-relational-database-querying-the-database">데이터베이스 쿼리하기</a>
                      </li>
                      <li>
                        <a>다음 단계</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a>Mongo DB</a>
                  </li>
                </ul>
              </li>
              <li>
                <a>기존 프로젝트에 추가하기</a>
              </li>
            </ul>
          </li>
          <li>
            <a>ORM</a>
            <ul>
              <li>
                <a>소개</a>
                <ul>
                  <li class="active">
                    <a href="prisma-doc-overview-introduction-what-is-prisma-orm">Prisma ORM이란?</a>
                  </li>
                  <li class="active">
                    <a href="prisma-doc-overview-introduction-why-prisma-orm">왜 Prisma ORM인가?</a>
                  </li>
                  <li>
                    <a>Prisma ORM을 사용해야할까?</a>
                  </li>
                  <li class="active">
                    <a href="prisma-doc-overview-introduction-data-modeling">데이터 모델링</a>
                  </li>
                </ul>
              </li>
              <li>
                <a>스택에 따른 Prisma ORM</a>
              </li>
              <li>
                <a>데이터베이스</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="docs-banner-right"></div>
  </section>
{% endblock %}