:root {
  --base-spacing: 8px;
  --base-font-size: 8px;

  --default-line-height: 1.8;
  --default-font-size: 14px;
  --default-font-family: NotoSansKR-Regular;
  --brand-font: BlackHanSans-Regular;
  --information-font: NotoSansKR-Thin;

  --default-border-color: #454c56;
  --brand-color: #99cccc;
}

/**
 * Static Token 
 */
:root {
  /* width */
  --width-640: 640px;

  /* font size */
  --font-size-10: 10px;
  --font-size-12: 12px;
  --font-size-20: 20px;
  --font-size-30: 30px;
  --font-size-60: 60px;

  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-22: 22px;
  --font-size-24: 24px;
  --font-size-26: 26px;

  /* spacing */
  --spacing-5: 5px;
  --spacing-10: 10px;
  --spacing-20: 20px;
  --spacing-30: 30px;
  --spacing-40: 40px;

  /* radius */
  --radius-round: 50%;
  --radius-4: 4px;
  --radius-10: 10px;
}

/* Static Token: Color */
:root {
  --color-white: #ffffff;
  --color-black: #000000;

  --color-gray-50: #454c56;
  --color-gray-90: #768390;
  --color-gray-100: #22272e;
  --color-gray-200: #1c2128;

  --color-crayal-100: #adbac7;

  --color-middle-blue-green-100: #99cccc;
}

/**
 * Semantic Token
 */
:root {
  --content-width: var(--width-640);
  --font-size-tag: var(--font-size-12);
  --tag-background-color: #394b51;
  --tag-font-color: #a0eeee;

  --background-color-body: var(--color-gray-200);
  --background-color-section: var(--color-gray-100);

  --text-color-default: var(--color-crayal-100);
  --text-color-title: var(--color-white);
  --text-color-info: var(--color-gray-90);

  --font-family-default: NotoSansKR-regular;
  --font-family-title: BlackHanSans-Regular;
  --font-family-list-title: NotoSansKR-Bold;
  --font-family-info: NotoSansKR-Light;

  --font-size-default: var(--font-size-14);
  --font-size-title: var(--font-size-60);
  --font-size-info: var(--font-size-12);
}

/**
 * Theme
 */
@media (prefers-color-scheme: light) {
  :root {
  }
}
