:root {
  /* Base (for calculating) */
  --base-spacing: 8px;
  --base-font-size: 7px;

  /* Default */
  --default-font-family: Pretendard, Helvetica, Arial, Sans-Serif;
  --default-font-size: 13px;
  --default-line-height: 1.8;
  --default-border-color: #454c56;
  --default-head-color: #ffffff;

  /* Branding */
  --brand-font-family: BlackHanSans-Regular, Helvetica, Arial, Sans-Serif;
  --brand-color: #99cccc;

  /* Width */
  --main-section-width: 620px;
}

/* TODO: 정리할것! */
:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray-50: #454c56;
  --color-gray-90: #768390;
  --color-gray-100: #22272e;
  --color-gray-200: #1c2128;
  --color-crayal-100: #adbac7;
  --color-middle-blue-green-100: #99cccc;

  --font-size-tag: 12px;
  --tag-background-color: #394b51;
  --tag-font-color: #a0eeee;

  --background-color-body: var(--color-gray-200);
  --background-color-section: var(--color-gray-100);

  --text-color-default: var(--color-crayal-100);
  --text-color-title: var(--color-white);
  --text-color-info: var(--color-gray-90);
}

/**
 * Theme
 */
@media (prefers-color-scheme: light) {
  :root {
  }
}
