.post-list-item {
  display: block;
  border: 1px solid var(--color-gray-50);
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: var(--background-color-section);
}

.post-list-item ._title {
  font-size: 20px;
  margin-bottom: 15px;
  color: white;
  font-weight: 900;
  line-height: 1.4;
}
.post-list-item:hover ._title {
  color: var(--brand-color);
}

.post-list-item ._date {
  font-weight: 100;
  font-size: 12px;
  color: var(--text-color-info);
}
