---
permalink: 404.html
title: 404 Page
eleventyExcludeFromCollections: true
layout: base.njk
css: ['css/pages/404.css']
---
<section>
  <img src="/img/404.jpg" />
  <h2>404</h2>
  <a href="/">메인으로 돌아가기</a>
</section>