---
eleventyExcludeFromCollections: true
css: ['css/pages/home.css']
---
{% extends "src/layouts/base.njk" %}

{% block local %}
  <div class="page-wrapper">
    <section class="home-latest-posts">
      <h2>최신글</h2>
      <div>
      {% include "src/layouts/components/post-list.njk" %}
      </div>
    </section>
    {{ content | safe }}
  </div>
{% endblock %}