---
eleventyExcludeFromCollections: true
layout: layouts/home.njk
---
{%- css %}{% include "public/css/pages/docs-banner.css" %}{% endcss %}
{% block main %}
  <section class="docs-banner">
    <div class="docs-banner-left">
      <div class=""></div>
    </div>
    <div class="docs-banner-center">
      <div class="content-index">
        <ul>
          <li>
            <a>시작하기</a>
            <ul>
              <li class="active">
                <a href="react-query-doc-overview">개요</a>
              </li>
              <li>
                <a>설치</a>
              </li>
              <li class="active">
                <a href="react-query-doc-quick-start">빠른시작</a>
              </li>
              <li>
                <a>비교</a>
              </li>
              <li>
                <a>타입스크립트</a>
              </li>
              <li>
                <a>GraphQL</a>
              </li>
              <li>
                <a>React Native</a>
              </li>
            </ul>
          </li>
          <li>
            <a>가이드 & 개념</a>
            <ul>
              <li class="active">
                <a href="react-query-doc-important-default">중요한 기본 값</a>
              </li>
              <li class="active">
                <a href="react-query-doc-queries">쿼리</a>
              </li>
              <li class="active">
                <a href="react-query-doc-query-keys">쿼리 키</a>
              </li>
              <li class="active">
                <a href="react-query-doc-query-functions">쿼리 함수</a>
              </li>
              <li class="active">
                <a href="react-query-doc-query-options">쿼리 옵션</a>
              </li>
              <li class="active">
                <a href="react-query-doc-network-mode">네트워크 모드</a>
              </li>
              <li class="active">
                <a href="react-query-doc-parallel-queries">병렬 쿼리</a>
              </li>
              <li class="active">
                <a href="react-query-doc-dependent-queries">종속 쿼리</a>
              </li>
              <li class="active">
                <a href="react-query-doc-background-fetching-indicators">백그라운드 fetch 표시기</a>
              </li>
              <li class="active">
                <a href="react-query-doc-window-focus-refetching">윈도우 포커스 Refetching</a>
              </li>
              <li class="active">
                <a href="react-query-doc-disabling-pausing-queries">쿼리 비활성황 / 일시중지</a>
              </li>
              <li class="active">
                <a href="react-query-doc-query-retries">쿼리 재시도</a>
              </li>
              <li class="active">
                <a href="react-query-doc-paginated-lagged-queries">페이지네이션 / 지연된 쿼리</a>
              </li>
              <li class="active">
                <a href="react-query-doc-infinite-queries">무한 쿼리</a>
              </li>
              <li class="active">
                <a href="react-query-doc-initial-query-data">초기 쿼리 데이터</a>
              </li>
              <li class="active">
                <a href="react-query-doc-placeholder-query-data">플레이스홀더 쿼리 데이터</a>
              </li>
              <li class="active">
                <a href="react-query-doc-mutations">뮤테이션</a>
              </li>
              <li class="">
                <a href="">쿼리 무효화</a>
              </li>
              <li class="">
                <a href="">뮤테이션으로 인한 무효화</a>
              </li>
            </ul>
          </li>
          <li>
            <a>API 레퍼런스</a>
          </li>
          <li>
            <a>ESLINT</a>
          </li>
          <li>
            <a>플러그인</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="docs-banner-right"></div>
  </section>
{% endblock %}