main .page-wrapper {
  display: flex;
  justify-content: center;
  padding: var(--spacing-30);
}

section.home-latest-posts {
  max-width: 768px;
  width: 100%;
}

section.home-latest-posts > h2 {
  font-family: var(--font-family-list-title);
  font-size: var(--font-size-20);
  margin-bottom: var(--spacing-10);
}
