main {
  display: flex;
  justify-content: center;
  margin: var(--spacing-30);
}

.post-page-box {
  padding: var(--spacing-40);
  border-radius: var(--radius-4);
  background: var(--background-color-section);
  border: 1px solid var(--color-gray-50);
}

section.post {
  max-width: 640px;
  width: 100%;
}

section.post ._date {
  margin-top: var(--spacing-10);
  margin-bottom: var(--spacing-20);
  color: var(--text-color-info);
  font-style: italic;
}

section.post ._description {
  font-style: italic;
  color: var(--text-color-info);
}

section.post h1 {
  font-family: var(--font-family-h1);
  font-size: var(--font-size-h1);
  /* margin-bottom: var(--spacing-40); */
}
section.post h2 {
  font-family: var(--font-family-h2);
  font-size: var(--font-size-h2);
  margin-top: var(--spacing-30);
  margin-bottom: 20px;
  padding-bottom: var(--spacing-10);
  color: #6bb6ff;
  border-bottom: 1px solid var(--color-gray-50);
}

section.post p {
  margin-bottom: var(--spacing-20);
}

section.post-left {
  max-width: 300px;
  width: 100%;
  margin-right: 40px;
}

section.post-right {
  max-width: 300px;
  width: 100%;
  margin-left: 40px;
}

.post-tag-list {
  display: flex;
  flex-direction: row;
}
.post-tag-list li {
  /* margin-bottom: 10px; */
  margin-right: 10px;
  margin-top: 10px;
}
.post-tag-list li:last-of-type {
  margin-bottom: 0;
  margin-right: 0;
}

.tag {
  display: inline-block;
  font-size: var(--font-size-tag);
  background-color: var(--tag-background-color);
  color: var(--tag-font-color);
  line-height: 1;
  border: 1px solid;
  border-radius: 26px;
  padding: 5px 10px;
}

.gap {
  margin-bottom: 20px;
}

@media only screen and (max-width: 1280px) {
  main {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  section.post {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  section.post-left {
    max-width: 640px;
    margin-right: 0;
  }

  section.post-right {
    max-width: 640px;
  }
}
