---
eleventyExcludeFromCollections: true
layout: layouts/home.njk
eleventyNavigation:
  key: Docs
  order: 3
---
{%- css %}{% include "public/css/pages/docs.css" %}{% endcss %}
{% block main %}
  <section class="docs-container">
    <div class="docs-item react">
      <a href="react">
        <div>
          <img src="/img/icons/brand-react.svg"/>
        </div>
        <div class="docs-item-info">
          <div class="docs-item-title">React</div>
        </div>
      </a>
    </div>
    <div class="docs-item turborepo">
      <a href="turborepo">
        <div>
          <img src="/img/icons/brand-turborepo.svg"/>
        </div>
        <div class="docs-item-info">
          <div class="docs-item-title">Turborepo</div>
        </div>
      </a>
    </div>
    <div class="docs-item style-dictionary">
      <a href="style-dictionary">
        <div>
          <img src="/img/icons/brand-style-dictionary.svg"/>
        </div>
        <div class="docs-item-info">
          <div class="docs-item-title">Style Dictionary</div>
        </div>
      </a>
    </div>
    <div class="docs-item storybook">
      <a href="storybook">
        <div>
          <img src="/img/icons/brand-storybook.svg"/>
        </div>
        <div class="docs-item-info">
          <div class="docs-item-title">Storybook</div>
        </div>
      </a>
    </div>
    <div class="docs-item stylex">
      <a href="stylex">
        <div>
          <img src="/img/icons/brand-stylex.svg"/>
        </div>
        <div class="docs-item-info">
          <div class="docs-item-title">StyleX</div>
        </div>
      </a>
    </div>
    <div class="docs-item waku">
      <a href="waku">
        <div>
          <img src="/img/icons/brand-waku.svg"/>
        </div>
        <div class="docs-item-info">
          <div class="docs-item-title">Waku</div>
        </div>
      </a>
    </div>
    <div class="docs-item nextjs">
      <a href="nextjs">
        <div>
          <img src="/img/icons/brand-nextjs.svg"/>
        </div>
        <div class="docs-item-info">
          <div class="docs-item-title">NextJS</div>
        </div>
      </a>
    </div>
    <div class="docs-item nestjs">
      <a href="nestjs">
        <div>
          <img src="/img/icons/brand-nestjs.svg"/>
        </div>
        <div class="docs-item-info">
          <div class="docs-item-title">NestJS</div>
        </div>
      </a>
    </div>
    <div class="docs-item prisma">
      <a href="prisma">
        <div>
          <img src="/img/icons/brand-prisma.svg"/>
        </div>
        <div class="docs-item-info">
          <div class="docs-item-title">Prisma</div>
        </div>
      </a>
    </div>
    <div class="docs-item no-content">
      <a>NO CONTENT</a>
    </div>
    <div class="docs-item no-content">
      <a>NO CONTENT</a>
    </div>
    <div class="docs-item no-content">
      <a>NO CONTENT</a>
    </div>
    <div class="docs-item no-content">
      <a>NO CONTENT</a>
    </div>
    <div class="docs-item no-content">
      <a>NO CONTENT</a>
    </div>
    <div class="docs-item no-content">
      <a>NO CONTENT</a>
    </div>
    <div class="docs-item no-content">
      <a>NO CONTENT</a>
    </div>
    <div class="docs-item no-content">
      <a>NO CONTENT</a>
    </div>
    <div class="docs-item no-content">
      <a>NO CONTENT</a>
    </div>
    <div class="docs-item no-content">
      <a>NO CONTENT</a>
    </div>
    <div class="docs-item no-content">
      <a>NO CONTENT</a>
    </div>
  </section>
{% endblock %}