---
eleventyExcludeFromCollections: true
layout: layouts/home.njk
eleventyNavigation:
  key: Docs
  order: 3
---
{%- css %}{% include "public/css/pages/docs.css" %}{% endcss %}
{% block main %}
  <section class="docs-container">
    <div class="docs-item react">
      <a class="aa" href="react">
        <div>
          <img src="/img/icons/brand-react.svg" />
        </div>
        <div class="docs-item-info">
          <div class="docs-item-title">React</div>
        </div>
      </a>
    </div>
    <div class="docs-item no-content">
      <a>NO CONTENT</a>
    </div>
    <div class="docs-item no-content">
      <a>NO CONTENT</a>
    </div>
    <div class="docs-item no-content">
      <a>NO CONTENT</a>
    </div>
    <div class="docs-item no-content">
      <a>NO CONTENT</a>
    </div>
    <div class="docs-item no-content">
      <a>NO CONTENT</a>
    </div>
    <div class="docs-item no-content">
      <a>NO CONTENT</a>
    </div>
    <div class="docs-item no-content">
      <a>NO CONTENT</a>
    </div>
    <div class="docs-item no-content">
      <a>NO CONTENT</a>
    </div>
    <div class="docs-item no-content">
      <a>NO CONTENT</a>
    </div>
    <div class="docs-item no-content">
      <a>NO CONTENT</a>
    </div>
    <div class="docs-item no-content">
      <a>NO CONTENT</a>
    </div>
    <div class="docs-item no-content">
      <a>NO CONTENT</a>
    </div>
    <div class="docs-item no-content">
      <a>NO CONTENT</a>
    </div>
    <div class="docs-item no-content">
      <a>NO CONTENT</a>
    </div>
    <div class="docs-item no-content">
      <a>NO CONTENT</a>
    </div>
    <div class="docs-item no-content">
      <a>NO CONTENT</a>
    </div>
    <div class="docs-item no-content">
      <a>NO CONTENT</a>
    </div>
    <div class="docs-item no-content">
      <a>NO CONTENT</a>
    </div>
    <div class="docs-item no-content">
      <a>NO CONTENT</a>
    </div>
  </section>
{% endblock %}