---
eleventyExcludeFromCollections: true
layout: layouts/home.njk
---
{%- css %}{% include "public/css/pages/docs-banner.css" %}{% endcss %}
{% block main %}
  <section class="docs-banner">
    <div class="docs-banner-left">
      <div class=""></div>
    </div>
    <div class="docs-banner-center">
      <div class="content-index">
        <ul>
          <li>
            <a>홈</a>
            <ul>
              <li class="active">
                <a href="expo-doc-home-overview">개요</a>
              </li>
              <li>
                <a>시작하기</a>
                <ul>
                  <li class="active">
                    <a href="expo-doc-home-installation">설치</a>
                  </li>
                  <li class="active">
                    <a href="expo-doc-home-expo-go">Expo Go</a>
                  </li>
                  <li class="active">
                    <a href="expo-doc-home-create-a-project">프로젝트 생성하기</a>
                  </li>
                </ul>
              </li>
              <li>
                <a>개발</a>
                <ul>
                  <li class="active">
                    <a href="expo-doc-home-develop-project-structure">프로젝트 구조</a>
                    <ul>
                      <li>
                        <a>유저 인터페이스</a>
                        <ul>
                          <li class="active">
                            <a href="expo-doc-home-splash-screen">Splash 스크린</a>
                          </li>
                          <li class="active">
                            <a href="expo-doc-home-app-icons">앱 아이콘</a>
                          </li>
                          <li class="active">
                            <a href="expo-doc-home-safe-areas">안전 영역</a>
                          </li>
                          <li class="active">
                            <a href="expo-doc-home-fonts">폰트</a>
                          </li>
                          <li class="active">
                            <a href="expo-doc-home-color-themes">컬러 테마</a>
                          </li>
                          <li class="active">
                            <a href="expo-doc-home-animation">애니메이션</a>
                          </li>
                          <li class="active">
                            <a href="expo-doc-home-store-data">데이터 저장하기</a>
                          </li>
                          <li>
                            <a>다음 단계</a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a>개발 빌드</a>
                        <ul>
                          <li class="active">
                            <a href="expo-doc-home-develop-development-builds-introduction">소개</a>
                          </li>
                          <li class="active">
                            <a href="expo-doc-home-create-a-development-build">빌드 생성하기</a>
                          </li>
                          <li class="active">
                            <a href="expo-doc-home-use-a-development-build">빌드 사용하기</a>
                          </li>
                          <li class="active">
                            <a href="expo-doc-home-share-a-development-build-with-your-team">개발 빌드 공유하기</a>
                          </li>
                          <li class="active">
                            <a href="expo-doc-home-tools-workflows-and-extensions">툴, 워크플로 그리고 익스텐션</a>
                          </li>
                          <li>
                            <a>다음 단계</a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a>구성 플러그인</a>
                        <ul>
                          <li class="active">
                            <a href="expo-doc-home-develop-config-plugins-introduction">소개</a>
                          </li>
                          <li>
                            <a>플러그인과 모드</a>
                          </li>
                          <li>
                            <a>개발과 디버깅</a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a>디버깅</a>
                        <ul>
                          <li>
                            <a>에러와 경고</a>
                          </li>
                          <li>
                            <a>런타임 이슈</a>
                          </li>
                          <li>
                            <a>도구</a>
                          </li>
                          <li>
                            <a>개발 도구 플러그인</a>
                          </li>
                          <li>
                            <a>Create a dev tools plugin</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a>인증</a>
                  </li>
                  <li>
                    <a>유닛 테스트</a>
                  </li>
                </ul>
              </li>
              <li>
                <a>리뷰</a>
                <ul>
                  <li>
                    <a>리뷰용 앱 배포하기</a>
                  </li>
                  <li>
                    <a>Open updates with Orbit</a>
                  </li>
                </ul>
              </li>
              <li>
                <a>배포</a>
                <ul>
                  <li>
                    <a>프로젝트 빌드하기</a>
                  </li>
                  <li>
                    <a>앱 스토어에 제출하기</a>
                  </li>
                  <li>
                    <a>앱 스토어 메타데이터</a>
                  </li>
                  <li>
                    <a>실시간 업데이트</a>
                  </li>
                </ul>
              </li>
              <li>
                <a>더 보기</a>
                <ul>
                  <li>
                    <a>핵심 컨셉</a>
                  </li>
                  <li>
                    <a>FAQ</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <a>가이드</a>
            <ul>
              <li class="active">
                <a href="expo-doc-guides-overview">개요</a>
              </li>
              <li>
                <a>개발 프로세스</a>
                <ul>
                  <li class="active">
                    <a href="expo-doc-guides-develop-an-app-with-expo">Expo로 앱 개발하기</a>
                  </li>
                  <li class="active">
                    <a href="expo-doc-guides-configure-with-app-config">app config로 설정하기</a>
                  </li>
                  <li class="active">
                    <a href="expo-doc-guides-local-app-development">로컬 앱 개발</a>
                  </li>
                  <li class="active">
                    <a href="expo-doc-guides-use-libraries">라이브러리 사용하기</a>
                  </li>
                  <li class="active">
                    <a href="expo-doc-guides-permissions">권한</a>
                  </li>
                  <li class="active">
                    <a href="expo-doc-guides-environment-variables-in-expo">환경 변수</a>
                  </li>
                  <li class="">
                    <a href="">링킹</a>
                  </li>
                  <li class="">
                    <a href="">딥 링킹</a>
                  </li>
                  <li class="">
                    <a href="">번들링</a>
                    <ul>
                      <li class="active">
                        <a href="expo-doc-guides-metro-bundler">Metro 번들러</a>
                      </li>
                    </ul>
                  </li>
                  <li class="">
                    <a>레퍼런스</a>
                    <ul>
                      <li class="active">
                        <a href="expo-doc-guides-work-with-monorepos">모노레포에서 작업하기</a>
                      </li>
                      <li class="">
                        <a href="">로그 보기</a>
                      </li>
                      <li class="active">
                        <a href="expo-doc-guides-development-and-production-modes">개발 및 프로덕션 모드</a>
                      </li>
                      <li class="">
                        <a href="">자주 발생하는 개발 에러</a>
                      </li>
                      <li class="active">
                        <a href="expo-doc-guides-new-architecture">새 아키텍처</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <a>Expo Router</a>
                <ul>
                  <li class="active">
                    <a href="expo-doc-guides-expo-router-introduction">소개</a>
                  </li>
                  <li class="active">
                    <a href="expo-doc-guides-install-expo-router">설치</a>
                  </li>
                </ul>
              </li>
              <li>
                <a>Expo Modules API</a>
              </li>
              <li>
                <a>EAS</a>
                <ul>
                  <li class="active">
                    <a href="expo-doc-guides-expo-application-services">소개</a>
                  </li>
                  <li>
                    <a>eas.json</a>
                  </li>
                </ul>
              </li>
              <li>
                <a>EAS Build</a>
                <ul>
                  <li class="active">
                    <a href="expo-doc-guides-eas-build-introduction">소개</a>
                  </li>
                </ul>
              </li>
              <li>
                <a>EAS Submit</a>
                <ul>
                  <li class="">
                    <a href="">소개</a>
                  </li>
                </ul>
              </li>
              <li>
                <a>EAS Update</a>
                <ul>
                  <li class="">
                    <a href="">소개</a>
                  </li>
                </ul>
              </li>
              <li>
                <a>EAS Metadata</a>
                <ul>
                  <li class="">
                    <a href="">소개</a>
                  </li>
                </ul>
              </li>
              <li>
                <a>EAS Insights</a>
                <ul>
                  <li class="">
                    <a href="">소개</a>
                  </li>
                </ul>
              </li>
              <li>
                <a>푸시 알림</a>
              </li>
              <li>
                <a>배포</a>
              </li>
              <li>
                <a>더보기</a>
                <ul>
                  <li>
                    <a>통합</a>
                    <ul>
                      <li class="active">
                        <a href="expo-doc-guides-use-firebase">파이어베이스 사용하기</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <a>Regulatory compilance</a>
              </li>
            </ul>
          </li>
          <li>
            <a>레퍼런스</a>
            <ul>
              <li>
                <a>설정 파일</a>
              </li>
              <li>
                <a>Expo SDK</a>
                <ul>
                  <li>
                    <a>Accelerometer</a>
                  </li>
                  <li>
                    <a>AppleAuthentication</a>
                  </li>
                  <li>
                    <a>Application</a>
                  </li>
                  <li>
                    <a>Asset</a>
                  </li>
                  <li>
                    <a>AsyncStorage</a>
                  </li>
                  <li>
                    <a>Audio</a>
                  </li>
                  <li>
                    <a>AuthSession</a>
                  </li>
                  <li>
                    <a>AV</a>
                  </li>
                  <li>
                    <a>BackgroundFetch</a>
                  </li>
                  <li>
                    <a>BarCodeScanner</a>
                  </li>
                  <li>
                    <a>Barometer</a>
                  </li>
                  <li>
                    <a>Battery</a>
                  </li>
                  <li>
                    <a>BlurView</a>
                  </li>
                  <li>
                    <a>Brightness</a>
                  </li>
                  <li>
                    <a>BuildProperties</a>
                  </li>
                  <li>
                    <a>Calendar</a>
                  </li>
                  <li>
                    <a>Camera(Next)</a>
                  </li>
                  <li>
                    <a>Camera</a>
                  </li>
                  <li>
                    <a>captureRef</a>
                  </li>
                  <li>
                    <a>Cellular</a>
                  </li>
                  <li>
                    <a>Checkbox</a>
                  </li>
                  <li>
                    <a>Clipboard</a>
                  </li>
                  <li>
                    <a>Constants</a>
                  </li>
                  <li>
                    <a>Contacts</a>
                  </li>
                  <li>
                    <a>Crypto</a>
                  </li>
                  <li>
                    <a>DateTimePicker</a>
                  </li>
                  <li>
                    <a>DevClient</a>
                  </li>
                  <li>
                    <a>Device</a>
                  </li>
                  <li>
                    <a>DeviceMotion</a>
                  </li>
                  <li>
                    <a>DocumentPicker</a>
                  </li>
                  <li>
                    <a>FaceDetector</a>
                  </li>
                  <li>
                    <a>FileSystem</a>
                  </li>
                  <li>
                    <a>FlashList</a>
                  </li>
                  <li>
                    <a>Font</a>
                  </li>
                  <li>
                    <a>GestureHandler</a>
                  </li>
                  <li>
                    <a>GLView</a>
                  </li>
                  <li>
                    <a>Gyroscope</a>
                  </li>
                  <li>
                    <a>Haptics</a>
                  </li>
                  <li>
                    <a>Image</a>
                  </li>
                  <li>
                    <a>ImageManipulator</a>
                  </li>
                  <li>
                    <a>ImagePicker</a>
                  </li>
                  <li>
                    <a>IntentLauncher</a>
                  </li>
                  <li>
                    <a>KeepAwake</a>
                  </li>
                  <li>
                    <a>LightSensor</a>
                  </li>
                  <li>
                    <a>LinearGradient</a>
                  </li>
                  <li>
                    <a>Linking</a>
                  </li>
                  <li>
                    <a>LocalAuthentication</a>
                  </li>
                  <li>
                    <a>Localization</a>
                  </li>
                  <li>
                    <a>Location</a>
                  </li>
                  <li>
                    <a>Lottie</a>
                  </li>
                  <li>
                    <a>Magnetometer</a>
                  </li>
                  <li>
                    <a>MailComposer</a>
                  </li>
                  <li>
                    <a>Manifest</a>
                  </li>
                  <li>
                    <a>MapView</a>
                  </li>
                  <li>
                    <a>MaskedView</a>
                  </li>
                  <li>
                    <a>MediaLibrary</a>
                  </li>
                  <li>
                    <a>NavigationBar</a>
                  </li>
                  <li>
                    <a>NetInfo</a>
                  </li>
                  <li>
                    <a>Network</a>
                  </li>
                  <li>
                    <a>Notifications</a>
                  </li>
                  <li>
                    <a>Pedometer</a>
                  </li>
                  <li>
                    <a>Picker</a>
                  </li>
                  <li>
                    <a>Print</a>
                  </li>
                  <li>
                    <a>Reanimated</a>
                  </li>
                  <li>
                    <a>registerRootComponent</a>
                  </li>
                  <li>
                    <a>SafeAreaContext</a>
                  </li>
                  <li>
                    <a>ScreenCapture</a>
                  </li>
                  <li>
                    <a>ScreenOrientation</a>
                  </li>
                  <li>
                    <a>Screens</a>
                  </li>
                  <li>
                    <a>SecureStore</a>
                  </li>
                  <li>
                    <a>SegmentedControl</a>
                  </li>
                  <li>
                    <a>Sensors</a>
                  </li>
                  <li>
                    <a>Sharing</a>
                  </li>
                  <li>
                    <a>Skia</a>
                  </li>
                  <li>
                    <a>Slider</a>
                  </li>
                  <li>
                    <a>SMS</a>
                  </li>
                  <li>
                    <a>Speech</a>
                  </li>
                  <li>
                    <a>SplashScreen</a>
                  </li>
                  <li>
                    <a>SQLite(Next)</a>
                  </li>
                  <li>
                    <a>SQLite</a>
                  </li>
                  <li>
                    <a>StatusBar</a>
                  </li>
                  <li>
                    <a>StoreReview</a>
                  </li>
                  <li>
                    <a>Stripe</a>
                  </li>
                  <li>
                    <a>Svg</a>
                  </li>
                  <li>
                    <a>SystemUI</a>
                  </li>
                  <li>
                    <a>TaskManager</a>
                  </li>
                  <li>
                    <a>TrackingTransparency</a>
                  </li>
                  <li>
                    <a>Updates</a>
                  </li>
                  <li>
                    <a>URL</a>
                  </li>
                  <li>
                    <a>VideoThumbnails</a>
                  </li>
                  <li>
                    <a>Video</a>
                  </li>
                  <li>
                    <a>ViewPager</a>
                  </li>
                  <li>
                    <a>WebBrowser</a>
                  </li>
                  <li>
                    <a>WebView</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <a>배우기</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="docs-banner-right"></div>
  </section>
{% endblock %}