---
eleventyExcludeFromCollections: true
layout: layouts/home.njk
---
{%- css %}{% include "public/css/pages/docs-banner.css" %}{% endcss %}
{% block main %}
  <section class="docs-banner">
    <div class="docs-banner-left">
      <div class=""></div>
    </div>
    <div class="docs-banner-center">
      <div class="content-index">
        <ul>
          <li class="active">
            <a href="nestjs-introduction">소개</a>
          </li>
          <li>
            <a>개요</a>
            <ul>
              <li class="active">
                <a href="nestjs-doc-first-steps">첫 걸음</a>
              </li>
              <li class="active">
                <a href="nestjs-doc-controllers">컨트롤러</a>
              </li>
              <li class="active">
                <a href="nestjs-doc-providers">프로바이더</a>
              </li>
              <li class="active">
                <a href="nestjs-doc-modules">모듈</a>
              </li>
              <li class="active">
                <a href="nestjs-doc-middleware">미들웨어</a>
              </li>
              <li class="active">
                <a href="nestjs-doc-exception-filters">예외 필터</a>
              </li>
              <li class='active'>
                <a href="nestjs-doc-pipes">파이프</a>
              </li>
              <li class="active">
                <a href="nestjs-doc-guards">가드</a>
              </li>
              <li class="active">
                <a href="nestjs-doc-interceptors">인터셉터</a>
              </li>
              <li>
                <a>커스텀 데코레이터</a>
              </li>
            </ul>
          </li>
          <li>
            <a>기본</a>
          </li>
          <li>
            <a>기술</a>
          </li>
          <li>
            <a>보안</a>
          </li>
          <li>
            <a>GraphQL</a>
          </li>
          <li>
            <a>웹소켓</a>
          </li>
          <li>
            <a>마이크로서비스</a>
          </li>
          <li>
            <a>Standalone 애플리케이션</a>
          </li>
          <li>
            <a>CLI</a>
            <ul>
              <li class="">
                <a href="">개요</a>
              </li>
            </ul>
          </li>
          <li>
            <a>OPENAPI</a>
          </li>
          <li>
            <a>레시피</a>
            <ul>
              <li class="">
                <a href="">REPL</a>
              </li>
              <li class="">
                <a href="">CRUD 생성기(타입스크립트 전용)</a>
              </li>
              <li class="">
                <a href="">SWC(빠른 컴파일러)</a>
              </li>
            </ul>
          </li>
          <li>
            <a>FAQ</a>
            <ul>
              <li class="active">
                <a href="nestjs-doc-request-lifecycle">요청 라이프사이클</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="docs-banner-right"></div>
  </section>
{% endblock %}