---
eleventyExcludeFromCollections: true
layout: layouts/home.njk
---
{%- css %}{% include "public/css/pages/docs-banner.css" %}{% endcss %}
{% block main %}
  <section class="docs-banner">
    <div class="docs-banner-left">
      <div class=""></div>
    </div>
    <div class="docs-banner-center">
      <div class="content-index">
        <ul>
          <li>
            <a>가이드</a>
            <ul>
              <li>
                <a>기초</a>
                <ul>
                  <li class="active">
                    <a href="react-native-doc-guides-introduction">소개</a>
                  </li>
                  <li class="active">
                    <a href="react-native-doc-guides-core-components-and-native-components">핵심 컴포넌트와 네이티브 컴포넌트</a>
                  </li>
                  <li class="active">
                    <a href="react-native-doc-guides-handling-text-input">텍스트 입력 처리하기</a>
                  </li>
                  <li class="active">
                    <a href="react-native-doc-guides-using-a-scrollView">스크롤 뷰 사용하기</a>
                  </li>
                  <li class="active">
                    <a href="react-native-doc-guides-using-list-views">리스트 뷰 사용하기</a>
                  </li>
                  <li>
                    <a>트러블슈팅</a>
                  </li>
                  <li class="active">
                    <a href="react-native-doc-guides-platform-specific-code">플랫폼별 코드</a>
                  </li>
                  <li>
                    <a>추가 리소스</a>
                  </li>
                </ul>
              </li>
              <li>
                <a>환경 설정</a>
                <ul>
                  <li class="active">
                    <a href="react-native-doc-guides-setting-up-the-development-environment">개발 환경 설정</a>
                  </li>
                </ul>
              </li>
              <li>
                <a>워크플로</a>
              </li>
              <li>
                <a>UI & 상호작용</a>
              </li>
              <li>
                <a>디버깅</a>
              </li>
              <li>
                <a>테스팅</a>
              </li>
              <li>
                <a>퍼포먼스</a>
              </li>
              <li>
                <a>JavaScript 런타임</a>
              </li>
              <li>
                <a>네이티브 모듈</a>
              </li>
              <li>
                <a>네이티브 컴포넌트</a>
              </li>
              <li>
                <a>Android & iOS 가이드</a>
            </ul>
          </li>
          <li>
            <a>컴포넌트</a>
          </li>
          <li>
            <a>APIs</a>
          </li>
          <li>
            <a>아키텍처</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="docs-banner-right"></div>
  </section>
{% endblock %}