---
eleventyExcludeFromCollections: true
layout: layouts/home.njk
---
{%- css %}{% include "public/css/pages/docs-banner.css" %}{% endcss %}
{% block main %}
  <section class="docs-banner">
    <div class="docs-banner-left">
      <div class=""></div>
    </div>
    <div class="docs-banner-center">
      <div class="content-index">
        <ul>
          <li>
            <a>시작하기</a>
            <ul>
              <li class="active">
                <a href="react-doc-quick-start">빠른 시작</a>
              </li>
              <li class="active">
                <a href="react-doc-thinking-in-react">리액트로 생각하기</a>
              </li>
            </ul>
          </li>
          <li>
            <a>설치</a>
            <ul>
              <li>
                <a>새 프로젝트에서 시작하기</a>
              </li>
              <li>
                <a>기존 프로젝트에서 시작하기</a>
              </li>
              <li>
                <a>에디터 셋업</a>
              </li>
              <li>
                <a>타입스크립트 적용하기</a>
              </li>
              <li>
                <a>개발자 도구</a>
              </li>
            </ul>
          </li>
          <li>
            <a>개념 정리</a>
            <ul>
              <li class="active">
                <a href="react-doc-describing-ui">UI 표현하기</a>
                <ul>
                  <li>
                    <a>첫 컴포넌트</a>
                  </li>
                  <li>
                    <a>컴포넌트 가져오기 & 내보내기</a>
                  </li>
                  <li>
                    <a>JSX로 마크업 작성하기</a>
                  </li>
                  <li>
                    <a>JSX에서 중괄호로 자바스크립트 사용하기</a>
                  </li>
                  <li>
                    <a>컴포넌트에 프로퍼티 전달하기</a>
                  </li>
                  <li>
                    <a>조건부 렌더링</a>
                  </li>
                  <li>
                    <a>리스트 렌더링</a>
                  </li>
                  <li>
                    <a>컴포넌트를 순수하게 유지하기</a>
                  </li>
                  <li>
                    <a>UI 트리</a>
                  </li>
                </ul>
              </li>
              <li class="active">
                <a href="react-doc-adding-interactivity">상호작용 추가하기</a>
                <ul>
                  <li>
                    <a>이벤트에 응답하기</a>
                  </li>
                  <li>
                    <a>상태: 컴포넌트의 메모리</a>
                  </li>
                  <li>
                    <a>렌더와 커밋</a>
                  </li>
                  <li>
                    <a>스냅샷으로서 상태</a>
                  </li>
                  <li>
                    <a>대기열에 일련의 상태 업데이트 추가하기</a>
                  </li>
                  <li>
                    <a>객체 상태 업데이트하기</a>
                  </li>
                  <li>
                    <a>배열 상태 업데이트하기</a>
                  </li>
                </ul>
              </li>
              <li class="active">
                <a href="react-doc-managing-state">상태 관리하기</a>
                <ul>
                  <li>
                    <a>상태로 입력에 반응하기</a>
                  </li>
                  <li>
                    <a>상태 구조 결정하기</a>
                  </li>
                  <li>
                    <a>컴포넌트간에 상태 공유하기</a>
                  </li>
                  <li>
                    <a>상태 보존 및 재설정하기</a>
                  </li>
                  <li>
                    <a>상태 로직을 리듀서로 추출하기</a>
                  </li>
                  <li>
                    <a>컨텍스트로 데이터 전달하기</a>
                  </li>
                  <li>
                    <a>리듀서와 컨텍스트로 확장하기</a>
                  </li>
                </ul>
              </li>
              <li class="active">
                <a href="react-doc-escape-hatches">이스케이프 해치</a>
                <ul>
                  <li>
                    <a>Refs로 값 참조하기</a>
                  </li>
                  <li>
                    <a>refs로 DOM 조작하기</a>
                  </li>
                  <li>
                    <a>Effects로 동기화하기</a>
                  </li>
                  <li>
                    <a>Effect는 필요하지 않을 수도 있다</a>
                  </li>
                  <li>
                    <a>반응형 Effects의 라이프사이클</a>
                  </li>
                  <li>
                    <a>Effects에서 이벤트 분리하기</a>
                  </li>
                  <li>
                    <a>Effect 의존성 제거하기</a>
                  </li>
                  <li>
                    <a>커스텀 Hooks로 로직 재사용하기</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="active">
            <a href="react-doc-reference-overview">기능 정리</a>
            <ul>
              <li>
                <a>react@18.2.0</a>
                <ul>
                  <li>
                    <a>Hooks</a>
                    <ul>
                      <li class="active">
                        <a href="react-doc-reference-useState">useState</a>
                      </li>
                      <li class="active">
                        <a href="react-doc-reference-useref">useRef</a>
                      </li>
                      <li class="active">
                        <a href="react-doc-reference-usecallback">useCallback</a>
                      </li>
                      <li>
                        <a>useMemo</a>
                      </li>
                      <li>
                        <a>useReducer</a>
                      </li>
                      <li>
                        <a>useContext</a>
                      </li>
                      <li>
                        <a>useEffect</a>
                      </li>
                      <li>
                        <a>useLayoutEffect</a>
                      </li>
                      <li>
                        <a>useId</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a>Components</a>
                    <ul>
                      <li>
                        <a>Fragment</a>
                      </li>
                      <li>
                        <a>Profiler</a>
                      </li>
                      <li class="active">
                        <a href="react-doc-reference-strictmode">StrictMode</a>
                      </li>
                      <li class="active">
                        <a href="react-doc-reference-suspense">Suspense</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a>API's</a>
                    <ul>
                      <li>
                        <a>createContext</a>
                      </li>
                      <li>
                        <a>forwardRef</a>
                      </li>
                      <li class="active">
                        <a href="react-doc-reference-lazy">lazy</a>
                      </li>
                      <li>
                        <a>memo</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <a>react-dom@18.2.0</a>
                <ul>
                  <li>
                    <a>Hooks</a>
                  </li>
                  <li>
                    <a>Components</a>
                  </li>
                  <li>
                    <a>API's</a>
                  </li>
                  <li class="active">
                    <a href="react-doc-reference-client-api">Client API's</a>
                    <ul>
                      <li class="active">
                        <a href="react-doc-reference-createroot">createRoot</a>
                      </li>
                      <li>
                        <a>hydrateRoot</a>
                      </li>
                    </ul>
                  </li>
                  <li class="active">
                    <a href="react-doc-reference-react-dom-server-api">Server API's</a>
                    <ul>
                      <li>
                        <a>renderToNodeStream</a>
                      </li>
                      <li>
                        <a>renderToPipeableStream</a>
                      </li>
                      <li>
                        <a>renderToReadableStream</a>
                      </li>
                      <li>
                        <a>renderToStaticMarkup</a>
                      </li>
                      <li>
                        <a>renderToStaticNodeStream</a>
                      </li>
                      <li>
                        <a>renderToString</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="docs-banner-right"></div>
  </section>
{% endblock %}