---
eleventyExcludeFromCollections: true
layout: layouts/home.njk
eleventyNavigation:
  key: Posts
  order: 2
---
{% block main %}
  {% if collections.posts %}
  {% set posts = collections.posts | reverse %}
  <div class="page-wrapper">
    <section class="home-latest-posts">
      <h2>최신글</h2>
      <div>
      {% include "components/post-list.njk" %}
      </div>
    </section>
    {{ content | safe }}
  </div>
  {% else %}
  <div class="no-list">
    NO LIST
  </div>
  {% endif %}
{% endblock %}