---
eleventyExcludeFromCollections: true
layout: layouts/home.njk
---
{%- css %}{% include "public/css/pages/docs-banner.css" %}{% endcss %}
{% block main %}
  <section class="docs-banner">
    <div class="docs-banner-left">
      <div class=""></div>
    </div>
    <div class="docs-banner-center">
      <div class="content-index">
        <ul>
          <li class="active">
            <a href="turborepo-doc-quick-start">빠른 시작</a>
          </li>
          <li>
            <a>설치하기</a>
          </li>
          <li>
            <a>시작하기</a>
            <ul>
              <li>
                <a>예제로 시작하기</a>
              </li>
              <li class="active">
                <a href="turborepo-doc-creating-a-new-monorepo">새 모노레포 생성하기</a>
              </li>
              <li>
                <a>기존 프로젝트에서 시작하기</a>
              </li>
              <li>
                <a>기존 모노레포 추가하기</a>
              </li>
            </ul>
          </li>
          <li>
            <a>핵심 개념</a>
            <ul>
              <li>
                <a>캐싱 태스크</a>
                <ul>
                  <li>
                    <a>캐시할 것인가 말 것인가?</a>
                  </li>
                  <li>
                    <a>무엇을 캐시할 것인가?</a>
                  </li>
                  <li>
                    <a>파일 인풋</a>
                  </li>
                  <li>
                    <a>환경 변수 인풋</a>
                  </li>
                </ul>
              </li>
              <li>
                <a>리모트 캐싱</a>
              </li>
              <li class="active">
                <a href="turborepo-doc-turborepo-in-monorepo">모노레포</a>
                <ul>
                  <li class="active">
                    <a href="turborepo-doc-running-task">태스크 실행하기</a>
                  </li>
                  <li class="active">
                    <a href="turborepo-doc-task-dependencies">태스크 의존성</a>
                  </li>
                  <li class="active">
                    <a href="turborepo-doc-task-graph">태스크 그래프</a>
                  </li>
                  <li class="active">
                    <a href="turborepo-doc-filtering-workspaces">워크스페이스 필터링</a>
                  </li>
                  <li class="active">
                    <a href="turborepo-doc-code-generation">코드 생성</a>
                  </li>
                  <li>
                    <a>CI에서 태스크 스킵하기</a>
                  </li>
                  <li class="active">
                    <a href="turborepo-doc-configuring-workspaces">워크스페이스 구성하기</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <a>API 레퍼런스</a>
            <ul>
              <li>
                <a>설정 옵션</a>
              </li>
              <li>
                <a>CLI 사용법</a>
              </li>
              <li>
                <a>Codemods</a>
              </li>
            </ul>
          </li>
          <li>
            <a>CI 레시피</a>
            <ul>
              <li>
                <a>Vercel</a>
              </li>
              <li>
                <a>CircleCI</a>
              </li>
              <li>
                <a>Github Actions</a>
              </li>
              <li>
                <a>GitLab CI</a>
              </li>
              <li>
                <a>Travis CI</a>
              </li>
            </ul>
          </li>
          <li>
            <a>모노레포 핸드북</a>
            <ul>
              <li>
                <a>모노레포란 무엇인가</a>
              </li>
              <li>
                <a>패키지 설치</a>
              </li>
              <li>
                <a>워크스페이스</a>
              </li>
              <li>
                <a>모노레포로 마이그레이션하기</a>
              </li>
              <li>
                <a>개발 태스크</a>
              </li>
              <li>
                <a>앱 빌드하기</a>
              </li>
              <li>
                <a>도커로 배포하기</a>
              </li>
              <li>
                <a>환경 변수 사용하기</a>
              </li>
              <li>
                <a>코드 공유하기</a>
              </li>
              <li>
                <a>린팅</a>
              </li>
              <li>
                <a>테스팅</a>
              </li>
              <li>
                <a>패키지 배포</a>
              </li>
              <li>
                <a>도구</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="docs-banner-right"></div>
  </section>
{% endblock %}