{% extends "src/layouts/index.njk" %}

{% block head %}
{% endblock %}

{% block main %}
  <header>
    <a id="logo" href="/">
      <img src="img/logo.jpg" />
      <span>VIGOROUSLY</span>
    </a>
    <nav id="main-navigation">
      <ul>
        <li>
          <a href="/posts">Posts</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
  {% block local %}
    {{ content | safe }}
  {% endblock %}
  </main>
  <footer>
    <div>© copyright 2023 | vigor-13</div>
  </footer>
{% endblock %}

{% block foot %}
{% endblock %}