<!doctype html>
<html lang="kr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta
      name="description"
      content="{{ description or metadata.description }}"
    />

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/base.layout.css">

    {% if css %}
      {% for link in css %}
        <link rel="stylesheet" href="{{link}}" />
      {% endfor %}
    {% endif %}

    {% block head %}
    {% endblock %}
  </head>
  <body {% if bodyClass %}class="{{ bodyClass }}"{% endif %}>
    {% block main %}
    {% endblock %}

    {% block foot %}
    {% endblock %}
  </body>
</html>