{%- css %}{% include "public/css/components/post-list.css" %}{% endcss %}

<ul class="post-list-wrap">
{%- for post in posts -%}  
	<li>
		<a class="post-list-item" href={{ post.page.url}}>
			<p class="_title">{{ post.data.title }}</p>
			<p class="_date">{{post.page.date | htmlDateString}}</p>
		</a>
	</li>
{%- endfor -%}
</ul>