{%- css %}{% include "public/css/components/placeholder.css" %}{% endcss %}

{# 
  사용법 예제:
  {% set placeholder = { title: '404', link: '/', linkText: '메인으로 돌아가기' } %} 
#}
<div class="placeholder-wrap">
  <a href={{ placeholder.link }}>
    <img src="/img/404.jpg" />
    <span>{{ placeholder.linkText }}</span>
  </a>
  <h2>{{ placeholder.title }}</h2>
</div>